In [5]:
#importing libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

#reading the data from train.csv
df = pd.read_csv('train.csv')

# Seperating the Labels with features
Y = df['SalePrice']

print(df.dtypes)
df

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
# Dropping the salesprice as it is a label
df = df.drop('SalePrice',axis=1)

# Dropping the Id column as it is not considered as feature
df = df.drop('Id',axis=1)



#making the columns whose data-type is object to int type by converting them to category d-type and then assigning codes (in dictionary order)
for column in df:
    if(df[column].dtype=='object'):
        df[column] = df[column].astype("category").cat.codes

#Filling NA's if there are any with zeros
df.fillna(0,inplace=True)

#converting the dataframes to np.arrays as LinearRegressor() accepts np.arrays only
X_train = np.array(df) 
Y_train = np.array(Y)

#using LinearRegression() model to fit the data
model = LinearRegression()
model.fit(X_train,Y_train)

test = pd.read_csv('test.csv')

#storing the Id's in an different array
id = test['Id']
id = np.array([id])

# Dropping the Id column as it is not considered as feature
test = test.drop('Id',axis=1)

#making the columns whose data-type is object to int type by converting them to category d-type and then assigning codes (in dictionary order)
for column in test:
    if(test[column].dtype=='object'):
        test[column] = test[column].astype("category").cat.codes

#Filling NA's if there are any with zeros
test.fillna(0,inplace=True)
X_test = np.array(test)

predictions = model.predict(X_test)
values = np.append(id,np.array([predictions]),axis=0)

#creating a dataframe with Id's and predicted SalePrice of the test data
ans = pd.DataFrame({'Id': values[0, :], 'SalePrice': values[1, :]})

# As the sample_submission.csv has Id as index we will make Id as the index
ans =  ans.set_index('Id')

#Writing the dataframe to a csv
ans.to_csv('submission.csv')
ans

            SalePrice
Id
1461.0  114092.958566
1462.0  164116.576190
1463.0  169689.677849
1464.0  189519.273500
1465.0  188976.187087
...               ...
2915.0   82836.029223
2916.0   58032.766537
2917.0  159687.348911
2918.0  126491.487790
2919.0  243936.061429

[1459 rows x 1 columns]